[theme]
primaryColor = "#FF4B4B"
# backgroundColor, secondaryBackgroundColor, and textColor are removed to support Light/Dark mode toggling


[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = true

[browser]
gatherUsageStats = false
serverAddress = "localhost"

[client]
showErrorDetails = true
toolbarMode = "minimal"
